.metadata/
RemoteSystemsTempFiles/
target
*Debug.win32
*.sdf
*.opensdf
*.suo
*.ipch
*.userprefs
*.pidb
*.cachefile
*.swp
*.user
*.zip
*.tar
*.gz
*.sublime-workspace
*.stackdump
.DS_Store

.idea/
build/*/
build/*.*
cmake-build-debug/
.vscode/settings.json
spine-runtimes.code-workspace
node_modules
tsconfig.tsbuildinfo

dependencies

Assembly-*.csproj
Assembly-*.pidb
AssetStoreTools*

.gradle/
*.iml
*/out/
cmake-build-debug-visual-studio
